:root {
  /* primary colors */
  --prim-lime-green: hsl(163, 72%, 41%);
  --prim-bright-red: hsl(356, 69%, 56%);
  --prim-facebook: hsl(208, 92%, 53%);
  --prim-twitter: hsl(203, 89%, 53%);
  --prim-instagram-grad-start: hsl(37, 97%, 70%);
  --prim-instagram-grad-end: hsl(329, 70%, 58%);
  --prim-youtube: hsl(348, 97%, 39%);

  /* light theme */

  // --toggle: hsl(230, 22%, 74%);

  --toggle-grad-start: hsl(230, 22%, 74%);
  --toggle-grad-end: hsl(230, 22%, 74%);

  --white-bg: hsl(0, 0%, 100%);
  --top-bg-pattern: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --text-dark-gray-blue: hsl(228, 12%, 44%);
  --text-dark-blue: hsl(230, 17%, 14%);

  --font-family: "Inter", sans-serif;
  --font-reg: 400;
  --font-bold: 700;
  --font-size: 14px;
  --toggle-knob: hsl(0, 0%, 100%);
  --card-hover: hsl(232, 33%, 91%);
  --toggle-hover-grad-start: hsl(210, 78%, 56%);
  --toggle-hover-grad-end: hsl(146, 68%, 55%);

  --toggle-hover-outline: hsl(208, 59%, 60%);
  --instagram-grad: rgb(230, 116, 201);
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     /* dark theme */

//     --toggle-grad-start: hsl(210, 78%, 56%);
//     --toggle-grad-end: hsl(146, 68%, 55%);

//     --white-bg: hsl(230, 17%, 14%);
//     --top-bg-pattern: hsl(232, 19%, 15%);
//     --card-bg: hsl(228, 28%, 20%);
//     --text-dark-gray-blue: hsl(228, 34%, 66%);
//     --text-dark-blue: hsl(0, 0%, 100%);
//   }
// }

:root[data-theme="dark"] {
  /* dark theme */

  --toggle-grad-start: hsl(210, 78%, 56%);
  --toggle-grad-end: hsl(146, 68%, 55%);

  --white-bg: hsl(230, 17%, 14%);
  --top-bg-pattern: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --text-dark-gray-blue: hsl(228, 34%, 66%);
  --text-dark-blue: hsl(0, 0%, 100%);

  --toggle-knob: hsl(233, 24%, 27%);
  --card-hover: hsl(228, 26%, 27%);
}
